* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

header {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 2em;
}

.profile-box {
  /* background: white; */
  background: linear-gradient(to right, #93c5fd, #fde047);
  width: 13em;
  height: 13em;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  margin-bottom: 2em;
}

.profile {
  width: 83.333333%;
  transition: all 0.3s;
}

.profile-box:hover .profile {
  transform: scale(110%);
}

.description {
  text-align: center;
}

.description h2 {
  font-style: italic;
}

nav {
  background: #09375e;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18pt;
  padding: 1em 4em;
  transition: all 0.3s;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.skills {
  padding: 3em 5em;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
}
.subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  margin-bottom: 2em;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  transition: all 0.3s;
}
.grid-item:hover {
  background: rgba(0, 0, 0, 0.2);
}
.grid-item img {
  width: 10em;
  margin-bottom: 1em;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  transition: all 0.3s;
}
.grid-item:hover img {
  transform: scale(120%) rotate(10deg);
}
.grid-item .skill-name {
  font-weight: bold;
  font-size: 18pt;
}
.footer {
  background: #09375e;
  text-align: center;
  font-size: 20pt;
  color: white;
  font-weight: bold;
  margin-top: -1em;
  padding: 2em 1em;
}
.content {
  width: 75%;
  margin: 5em auto;
}
form {
  background: gray;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
}
.input-group {
  position: relative;
  width: 100%;
  margin: 1em auto;
}
.input-group span {
  position: absolute;
  padding-top: 0.5em;
  padding-left: 1em;
  z-index: 1;
}
.input-group input {
  background-color: white;
  position: relative;
  padding: 0.5em 2em 0.5em 5em;
  border: 0.1em solid indigo;
  font-size: 12pt;
  border-radius: 10px;
}
.input-group input:focus {
  outline: none;
}
.input-group textarea {
  background-color: white;
  position: relative;
  padding: 2em 1em 0.5em 1em;
  border: 0.1em solid indigo;
  font-size: 12pt;
  border-radius: 10px;
}
.input-group textarea:focus {
  outline: none;
}
button {
  background: #09375e;
  border: none;
  color: white;
  font-weight: bold;
  padding: 1em 2em;
  font-size: 14pt;
  border-radius: 10px;
  transition: all 0.3s;
  width: 24em;
}
button:hover {
  background: #04213a;
  transform: scale(110%);
}
.news-body {
  display: flex;
  flex-direction: row;
  padding: 5em;
  gap: 5em;
}
.news-list {
  width: 75%;
}

.faq-item {
  margin-bottom: 3em;
}
.faq-question {
  width: 100%;
}
.faq-answer {
  background-color: #cacaca;
  padding: 2em;
}
.faq-closed {
  display: none;
}
